<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="inventario.master.cs" Inherits="Web_Presentation.master_page.inventario" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Inventario de computadoras</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="icon" href="Imagenes/logo.jpeg" type="image/x-icon" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="Imagenes/logo.jpeg" alt="logo" width="150px"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Ubicación</a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Inventario
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Mouse</a></li>
                                <li><a class="dropdown-item" href="#">Monitor</a></li>
                                <li><a class="dropdown-item" href="#">Teclado</a></li>
                                <li><a class="dropdown-item" href="#">Gabinete</a></li>
                                <li><a class="dropdown-item" href="#">Disco Duro</a></li>
                                <li><a class="dropdown-item" href="#">Marca</a></li>
                                <li><a class="dropdown-item" href="#">Componente</a></li>
                                <li><a class="dropdown-item" href="#">Modelo CPU</a></li>
                                <li><a class="dropdown-item" href="#">Tipo CPU</a></li>
                                <li><a class="dropdown-item" href="#">Tipo RAM</a></li>
                                <li><a class="dropdown-item" href="#">RAM</a></li>
                                <li><a class="dropdown-item" href="#">Cantidad de disco duro</a></li>
                                <li><a class="dropdown-item" href="#">Laboratorio</a></li>
                                <li><a class="dropdown-item" href="#">Ubicación</a></li>
                                <li><a class="dropdown-item" href="#">Actualización</a></li>
                                <li><a class="dropdown-item" href="#">CPU Génerico</a></li>
                                <li><a class="dropdown-item" href="#">Computadora Final</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled active">Contacto</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
       <%-- tarjetas--%>

        <div class="title text-center py-5">
            <h1>Artículos</h1>
        </div>
        <div class="row mx-5">
            <!--tarjeta 1 -->
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="Imagenes/mouse.jpg" class="card-img-top" alt="Imagen de tarjeta"/>
                    <div class="card-body">
                        <h3>Mouse</h3>
                        <p class="card-text">
                            M190 FULL-SIZE WIRELESS MOUSE Diseño contorneado, confort esencial para manos medianas y grandes.
                        </p>
                        <a href="#" class="btn btn-primary">Link</a>
                    </div>
                </div>
            </div>

            <!--tarjeta 2 -->
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="Imagenes/ram1.jpg" class="card-img-top" alt="Imagen de tarjeta"/>
                    <div class="card-body">
                        <h3>HMIYPRAME080R1 Schneider Electric.</h3>
                        <p class="card-text">
                            RAM ECC de 8 Gb para servidor Rack PC SKU:HMIYPRAME080R1.
                        </p>
                        <a href="#" class="btn btn-primary">Link</a>
                    </div>
                </div>
            </div>

            <!--tarjeta 3 -->
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="Imagenes/discopurpura.jpg" class="card-img-top" alt="Imagen de tarjeta"/>
                    <div class="card-body">
                        <h3>Disco duro purpura</h3>
                        <p class="card-text">
                            Disco duro WD Purple Pro para vídeo inteligente de Western Digital.
                        </p>
                        <a href="#" class="btn btn-primary">Link</a>
                    </div>
                </div>
            </div>
            <!--tarjeta 4 -->
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="Imagenes/discoduro.png" class="card-img-top" alt="Imagen de tarjeta"/>
                    <div class="card-body">
                        <h3>Disco Duro</h3>
                        <p class="card-text">
                            Dell - Disco duro SATA 7200Rpm, 250 GB, ATA/300 para estaciones de trabajo, escuela, videojuegos, videos, fotos, juegos, aplicaciones, programas, etc.
                        </p>
                        <a href="#" class="btn btn-primary">Link</a>
                    </div>
                </div>
            </div>
            <!--tarjeta 5 -->
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="Imagenes/procesador.jpg" class="card-img-top" alt="Imagen de tarjeta"/>
                    <div class="card-body">
                        <h3>Procesador</h3>
                        <p class="card-text">
                            Procesador Intel Core i3 i3 – 3220 de 3,3 GHz 5.0 GT/s 3 MB LGA 1155 CPU, OEM – OEM.
                        </p>
                        <a href="#" class="btn btn-primary">Link</a>
                    </div>
                </div>
            </div>
            <!--tarjeta 6 -->
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="Imagenes/teclado.jpg" class="card-img-top" alt="Imagen de tarjeta"/>
                    <div class="card-body">
                        <h3>Teclado</h3>
                        <p class="card-text">
                            CHONCHOW - Teclado compacto para juegos, teclado USB con cable de 87 teclas, teclado LED para juegos con retroiluminación arco iris sin tenteclas, teclado TKL, teclado RGB para juegos para laptop, Ps4, Xbox, PC, juego y trabajo.
                        </p>
                        <a href="#" class="btn btn-primary">Link</a>
                    </div>
                </div>
            </div>
            <!--tarjeta 7 -->
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="Imagenes/miniteclado.jpg" class="card-img-top" alt="Imagen de tarjeta"/>
                    <div class="card-body">
                        <h3>Mini teclado</h3>
                        <p class="card-text">
                            Teclado para juegos con una sola mano, mini teclado mecánico retroiluminado RGB de 39 teclas para PC.
                        </p>
                        <a href="#" class="btn btn-primary">Link</a>
                    </div>
                </div>
            </div>
            <!--tarjeta 8 -->
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="Imagenes/cpu.jpg" class="card-img-top" alt="Imagen de tarjeta"/>
                    <div class="card-body">
                        <h3>CPU</h3>
                        <p class="card-text">
                            Core I5 Cpu Varias Marcas Dell-hp-lenovo 8gb Ram ( No Disco (Reacondicionado).
                        </p>
                        <a href="#" class="btn btn-primary">Link</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
